.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  background-color: #ffff;
}

.photo-profile img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
}

#profile-name {
  font-size: x-large;
  font-style: oblique;
}

#profile-student-identity {
  font-size: medium;
  opacity: 75%;
}

#profile-description {
  font-size: medium;
}

.description-social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.description-social-media li {
  display: block;
}

.description-writing {
  display: block;
  margin-bottom: 10px;
  color: #333;
}
.social-media img {
  width: 50px;
  height: 50px;
}

.container .social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container .social-media ul li {
  margin: 100px 10px 100px 10px;
}

#Date {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  margin-right: 100px;
}
